

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="card text-left">
              <div class="card-body">
                <h1>News</h1>
                <button mat-raised-button (click)="openDialog()" >Add New</button>
              </div>
            </div>
          
         </div>
        <div class="col-md-12">
          <!-- {{ data }} -->
          <app-new-table [data1]="data"></app-new-table>
         </div>
    </div>
</div>
